/* Nav bar hightlight on active page */

.navbar-nav .nav-item:hover,
.navbar-nav .nav-item.active {
  background-color: #343a40; 
  border-radius: 4px;
}

.navbar-nav .nav-item:hover a,
.navbar-nav .nav-item.active a {
  color: #ffffff; 
}

.navbar-toggler {
  background: none;
}
.navbar-toggler-icon {
  background-color: #494747; /* Change to a color that contrasts with the Navbar background */
  border-radius: 5px;
}

.navbar-brand {
  margin-left: 50px;
}