.bn16 {
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: rgba(82, 132, 192, 0.87);
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #03061c;
    border-radius: 25px;
}
.center-container {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top of the container */
    height: 80vh; /* Adjust the height as needed */
    margin-top: 50px; /* Adjust the top margin to move it up */
}

.center-content {
    text-align: center;
}